@page "/login"

@inject NavigationManager Navigation
@inject IdentityAuthenticationStateProvider Authentication
@inject IAccountApi Api
@inject IJSRuntime Script
@inject IMessageService MessageService

<div class="container container-bg-img">
    <div style="text-align:center;width:368px;margin:32px auto;box-shadow:none;">
        <div class="header">
            <a>
                <img alt="logo" class="logo" src="assets/logo.svg">
                <span class="title">WOA</span>
            </a>
        </div>
        <div class="desc">微信公众号管理</div>
    </div>

    <div style="width: 368px; margin:0 auto;padding:16px;">
        <div>
            <Form Model="@Model" Loading="@Loading">
                <Tabs ActiveKey="@context.LoginType">
                    <TabPane Key="password" Tab="密码登录">
                        <FormItem>
                            <AntDesign.Input Placeholder="用户名" Size="large" @bind-Value="@context.Username">
                                <Prefix><Icon Type="user" /></Prefix>
                            </AntDesign.Input>
                        </FormItem>
                        <FormItem>
                            <AntDesign.Input Placeholder="登录密码" Size="large" @bind-Value="@context.Password" Type="password">
                                <Prefix><Icon Type="lock" /></Prefix>
                            </AntDesign.Input>
                        </FormItem>
                    </TabPane>

                    <TabPane Key="pincode" Tab="验证码登录" Disabled>
                        <FormItem>
                            <AntDesign.Input Placeholder="手机号" Size="large" @bind-Value="@context.Phone">
                                <Prefix><Icon Type="mobile" /></Prefix>
                            </AntDesign.Input>
                        </FormItem>
                        <FormItem>
                            <Row Gutter="8">
                                <AntDesign.Col Span="16">
                                    <AntDesign.Input Placeholder="验证码" Size="large" @bind-Value="@context.Pin">
                                        <Prefix><Icon Type="mail" /></Prefix>
                                    </AntDesign.Input>
                                </AntDesign.Col>
                                <AntDesign.Col Span="8">
                                    <Button Size="large" Block>Verify</Button>
                                </AntDesign.Col>
                            </Row>
                        </FormItem>
                    </TabPane>
                </Tabs>
                <Button Type="primary" HtmlType="submit" Class="submit" Size="large" Block OnClick="SubmitAsync">登录</Button>
            </Form>
        </div>
    </div>
</div>

@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "redirect")]
    public string Redirect { get; set; }

    private UserLoginViewmodel Model { get; } = new();

    private bool Loading { get; set; }

    private async Task SubmitAsync(MouseEventArgs args)
    {
        var request = new LoginRequestDto
            {
                Username = Model.Username,
                Password = Model.Password
            };

        var cancellationToken = new CancellationTokenSource(TimeSpan.FromSeconds(10));

        try
        {
            Loading = true;
            var response = await Api.GrantAsync(request, cancellationToken.Token)
                                    .ContinueWith(x => x.Result.EnsureSuccess(), cancellationToken.Token);

            await Authentication.SetAuthenticationStateAsync(response.AccessToken, response.RefreshToken);
            Navigation.NavigateTo(Redirect ?? "/");
        }
        catch (Exception exception)
        {
            var message = exception.GetPromptMessage();
            await MessageService.Error(message);
            await Script.InvokeVoidAsync("console.log", cancellationToken.Token, message);
        }
        finally
        {
            Loading = false;
            StateHasChanged();
        }
    }
}
